source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core >= 6.0.0 lowest_matching: true, content: none

# Server
nuget Fable.Remoting.Giraffe
nuget FSharp.SystemTextJson

# Client
nuget Fable.Browser.WebStorage
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma

# Tests
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
